:root {
    --primary-color: #0B4F6C;
    --secondary-color: #01BAEF;
    --accent1-color: #1B1B1E;
    --accent2-color: #FBFBFF;

    --heading-font: Georgia, serif;
    --body-font: Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

/* Header */

header {
    display: grid;
    grid-template-columns: 200px 1fr;
    align-items: center;
    background-color: var(--secondary-color);
}

header img {
    width: 120px;
}

/* Navigation */

nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: var(--accent1-color);
    font-weight: bold;
}

/* Hero Section */

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.8;
    background-color: var(--accent1-color);
    color: white;
}

.hero article {
    position: absolute;
    bottom: 20px;
    background-color: rgba(255, 255, 255, 0.8);
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 15px;
}

/* Footer */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-top: 1px solid #ccc;
}

.socialmedia a {
    text-decoration: none;
}

.socialmedia img {
    width: 32px;
}