/* UNIVERSAL SELECTOR RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* NAVIGATION*/
nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: inline-block;
    padding: 20px;
    text-decoration: none;
}

/* HEADINGS */
h1 {
    color: darkblue;
}

/* IMAGES */
img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

/* Float profile image */
main img {
    float: right;
    margin: 0 0 1rem 1rem;
}

/* MAIN LAYOUT */
main {
    max-width: 840px;
}

/* ASIDE */
aside {
    width: 20rem;
    text-align: center;
    position: relative;
}

aside img {
    width: 200px;
    height: auto;
}

/* Overlay heading on image */
aside h2 {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: black;
}

/* CLASS SELECTORS */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    color: #333;
}

/* PARAGRAPH */
p {
    padding: 0;
}

/* FOOTER */
footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}